.footer{
  color: white;
  display: inline-block;
}

.foot-container{
   grid-template-columns: 1fr 1fr 1fr; /* 3 columns */
   display: grid;
   width: 100%;
   bottom: 0;
   background-color: #FFA360;
}

.footer-course-page{
  padding-top: 45rem;
}


@media (max-width: 600px) {
    .foot-container {
      grid-template-columns: repeat(1, 1fr);  /** this make each div-block wrap - only one column */
    }
}


@media (min-width: 600px) {
    .foot-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
