* {
  box-sizing: border-box;
}

h2{
  color: #FFA360; /* accent orange */
  font-size:35px;
  font-family: 'Rajdhani', sans-serif;

}

p{
  font-family: 'Rajdhani', sans-serif;
  color: white;
}

body{
  font-family: 'Ubuntu Mono', monospace;
  background-color: #000000;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.small-label {
  padding: 4px 4px 10px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: white;
  color: #5798FF;
  padding: 12px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  color: white;
  background-color: #5798FF;
}

.container {
  color: white;
  border-radius: 5px;
  background-color: #121212;
  border: 2px solid #FFA360;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin: 30px;
  margin-bottom: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 1px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 1px;
}

/* Clear floats after the columns */
.row:after {
  /* margin: 1px; */
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
