
.container{
  display: flex; /* H. Serban (2021) IAT 339 Week 3 slide p. 24 */
 /*retrieved from https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
  justify-content: flex-start; /*retrieved from https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
  flex-direction:row;
}


.block{ /*retrieved from https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
  order:3;
  display: flex;
  flex-grow:1;
  flex-basis:15rem;
}


.container div{ /*retrieved from https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
  border:1px;
  padding:15px;
}

.container .block p { /*retrieved from https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
  display: flex; /* H. Serban (2021) IAT 339 Week 3 slide p. 24 */
  padding: 0.8rem;
}


.block img{ /*retrieved from https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
  width:50%;
  padding-top:1rem; /*adapted from https://www.tutorialspoint.com/how-to-create-a-responsive-image-grid-with-html-and-css*/
}

.container .block:nth-of-type(3){ /*retrieved from https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
  max-width:50%;
  width:50%;
  display:inline-block; /*adapted from https://www.tutorialspoint.com/how-to-create-a-responsive-image-grid-with-html-and-css*/
  float:left;
}
