section{
    margin-bottom: 100px;
}

.container{
  display: flex;
  justify-content: flex-start;
  flex-direction:row;
}


.block{
  order:3;
  display: flex;
  flex-grow:1;
  flex-basis:15rem;
}


.container div{
  border:1px;
  padding:15px;
}

.container .block p {
  display: flex;
  padding: 0.8rem;
}


.block img{
  width:50%;
  padding-top:1rem;
}

.container .block:nth-of-type(3){
  max-width:50%;
  width:50%;
  display:inline-block;
  float:left;
}

/*https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
/*https://www.tutorialspoint.com/how-to-create-a-responsive-image-grid-with-html-and-css*/
/* H. Serban (2021) IAT 339 Week 3 slide p. 24 */

/* TODO - Need to Change Section Spacings for Media
/** SECTION introduction with orange border **/
.section-introduction {
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 5%;
    padding-top: 3%;
    border: 2px solid #FFA360; /* accent orange */

}

@media (max-width:600px){
    .section-introduction{
        margin-right: 3%;
        margin-left: 3%;
        margin-bottom: 3%;
    }
}

.centered-paragraph {
    margin-left: 15%;
    margin-right: 15%;
}

@media (max-width:600px){
    .centered-paragraph{
        margin-left: 4%;
        margin-right: 4%;
    }
}


.centered-heading {
    text-align: center;
}


.main-paragraph{
    max-width: 70%;
    padding-bottom: 2%;
}

/*********************** BANNER IMAGES ********************/
/** Banner Image that shows up on each page **/
.test-header{
    object-fit: cover;
    width: 100%;
    height: 40%;
}

/** positioning for image on top of physics page **/
.physics-header{
    object-position: top;
    height: 537px;
}

.home-header{
    object-position: center;
}

/** main spacing section for the entire website **/
@media all and (max-width: 600px) {
  .main-section{
    margin: 3%;
  }
}

@media (min-width: 600px) {
  .main-section{
      margin: 3%;
    }
}

@media (min-width: 900px) {
    .main-section{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

/*********************************** Subject Section ********************************/
/** Subject container on homepage **/
.sub-container{
    display: grid;
    grid-template-columns: 0.1fr 0.9fr;
    grid-row-gap: 40px;
}

@media all and (min-width: 600px){
    .sub-container{
        grid-template-columns: 0.05fr 0.95fr;
    }
}
@media (max-width: 600px){
    .sub-container{
        grid-template-columns: 1fr;
        grid-row-gap: 15px;
    }
}

.home-item{
    background-color:grey;
}

.purple{
    background-color: #1E1B37;
}

.orange{
    background-color: #FFA360;
}

.home-image{
    width: auto;
    max-height: 100%;
    height: auto; 
    object-fit: cover:
}

.home-subject-info{
    margin: 3%;
}


.subject-paragraph{
    margin-bottom: 5%;
}



@media (max-width: 600px) {
  .subject-paragraphh{
     width: 100%;
  }
}

@media (min-width: 600px) {
  .subject-paragraph{
     width: 80%;
    }
}

@media (min-width: 900px) {
  .subject-paragraph{
     width: 65%;
    }
}


.subject-heading{
    margin-left: 10%;
}

@media (max-width: 600px){
    .subject-heading{
        margin-left: 3%;
    }
}

/************************ FIGURES ******************/

.figure-h3{
    margin-top: 15px;
}

.figures-image{
    width: auto;
    max-width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
}

/*************************** COURSES ******************************/
.course-container{
   display: grid;
    grid-gap: 15px;
<<<<<<< Updated upstream
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

@media (max-width: 600px) {
  .course-container{
        grid-template-columns: 1fr;
        margin: 3%;
=======

}

@media (max-width: 600px) {
    .course-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 2%;
>>>>>>> Stashed changes
    }
}

@media (min-width: 600px) {
  .course-container{
        grid-template-columns: 1fr 1fr;
        margin: 3%;
    }
}

@media (min-width: 900px) {
    .course-container{
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

.course-item{
    background-color: grey;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.course-image{
    width: auto;
    max-width: 100%;
    min-height: 40%;
    height: auto;
}

.course-info{
    margin: 3%;
}

/*** FLEXIBLE GRID SOLUTION 2 ****/
.container{
    display: grid;
    grid-gap: 15px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    background: red;
}


@media (max-width: 600px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
    }
}

@media (min-width: 600px) {
  .container{
        grid-template-columns: 1fr 1fr;
        margin: 3%;
    }
}

@media (min-width: 900px) {
    .container{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

@media (min-width: 900px) {
    .img-right{
        grid-template-columns: 2fr 1fr;
    }
}

@media (min-width: 900px) {
    .img-left{
        grid-template-columns: 1fr 2fr;
    }
}


.test-img{
    object-fit: cover;
    text-align: center;
    height: 80%;
    max-width: 100%;
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
}
    

