html{
  background-color: #0E0E0E; /* black */
  color: white; 
}

h1{
    font-size:40px;
    font-family: 'Rajdhani', sans-serif;
}


h2{
    font-size:35px;
    color: #FFA360; /* accent orange */
    font-family: 'Rajdhani', sans-serif;
}


h3{
    font-size:28px;
    font-family: 'Rajdhani', sans-serif;
}


h4{
    font-size:20px;
    font-family: 'Rajdhani', sans-serif;
}


p{
    font-size: 14px;
    /* max-width:70%; */
    font-family: 'Ubuntu Mono', monospace; 

}

div{
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.href{
  display: inline-block;
  padding: 0.6rem;
  color: white;
  background-color: black;
  text-decoration: none;
  transition-property: background-color;
}

.href:hover{
  display: inline-block;
  padding: 0.6rem;
  color: white;
  background-color: rgb(155,188,255);
  text-decoration: none;
  transition-property: background-color;
}

code{
  padding: 0.25rem;
  color: grey;
  background-color: rgb(37,38,91);
}

figure{
  max-width: 100%;
}

/* adapted from https://www.w3schools.com/howto/howto_css_zoom_hover.asp */
figure:hover{
  transform: scale(1.1);
}

img{
  transform: scale(1.03);
}

/* Links are blue when unvisited and orange when visited */
/* TODO - links aren't starting as blue */
.in-text-link{
  display: inline-block;
  padding: 0.2rem;
    color: #5798FF; /* blue */
    font-family: 'Ubuntu Mono', monospace;

}

.in-text-link:link{
    color: #5798FF; /* blue */
}

.in-text-link:visited{
    color: #FFA360; /* orange */
}

label{
  color: #0E0E0E; /* black */
}

input{
  border-color: white;
  background-color:rgb(21,21,76);
  border-width: 3px;
  padding:0.5rem;
}

input:hover{
  border-color:rgb(224,204,234);

}

/** CITATION: https://www.w3schools.com/howto/howto_css_bullet_color.asp **/
.list-style {
    list-style: none; /* Remove default bullets */
    font-family: 'Ubuntu Mono', monospace;
    line-height: 2rem;
}

.list-style li::before {
  content: "\25AA";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #FFA360; /* orange */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

/************************ COLOR SECTION ************************/
.color{
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    border: 1px solid black;
    padding: 5%;
    margin: 3%;
    vertical-align: text-middle;
}


.element-2 {
    background-color: #5798FF; /* Dodger Blue */
}

.element-3 {
    background-color: #1E1B37; /* space purple */
}

.element-4 {
    background-color: #0E0E0E; /* black */
}

.element-5 {
    background-color: #E8E3DC; /* cream */
}

.element-6 {
    background-color: #FFA360 ; /* Atomic Tangerine */
}

.dark{
    color: #0E0E0E;
}

.light{
    color: #E8E3DC;
}

/* spacing for indented section */
.indented-section {
   margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}
/************************ MICHELLE MOLECULES + TEMPLATES ************************/

.course-introduction{
    padding: 3%;
}

.course-template{
    display: grid;
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    padding: 2%;
    margin: 1%;
    vertical-align: text-middle;
}

.course-molecule {
    background: #1E1B37; /* space purple */
    border-color: 1px solid #F0971F; /* accent orange */ 
}

.course-organism {
    padding: 4%;
}

.course-paragraph {
    font-size: 1.2vw;
    max-width: 100%
}

/* Subject Sections */
.subject-template{
    display: grid;
    
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    padding: 2%;
    margin: 1%;
    vertical-align: text-middle;
}

.image-right{
   grid-template-columns: 0.4fr 0.6fr; 
}

.image-left{
   grid-template-columns: 0.6fr 0.4fr; 
}

/* Images Responsive for Mobile */
/* Source: https://www.thesitewizard.com/css/responsive-images-for-mobile-friendly-website.shtml */
.img-mobile {
    width: auto;
    max-width: 100%;
    height: auto;
}

/************************ IMAGE BANNER ************************/
body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
    
    margin: 0;
    padding: 0;

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.image-banner {
    position: relative;
}

.banner-image {
    min-width: 100%;
    max-height: 20%;
    opacity: 0.8;
}

/************************ //////////// ************************/

/* SOURCE: https://www.w3schools.com/howto/howto_css_outline_buttons.asp*/
/* SOURCE: https://www.geeksforgeeks.org/how-to-remove-underline-for-anchors-tag-using-css/#:~:text=The%20underline%20can%20be%20easily,the%20underline%20from%20anchor%20tag.*/
.nav-main-item{
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    background-color: rgb(21,21,76);
    font-family: 'Ubuntu Mono', monospace;
}

.nav-main-item:hover{ 
    text-decoration: none;
    color: #5798FF; /* blue */
    border-bottom: 2px solid;
    border-color: rgb(197, 243, 255);
    padding: 0.5rem;
    background-color: rgb(21,21,76);
}


.button-round{
    font-weight: bold;
    font-family: 'Ubuntu Mono', monospace;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 12px;
    padding: 0.6rem;
    color: black;
    background-color: white;
    text-decoration: none;
    transition-property: background-color;
    border: white;
    color: #5798FF; /* Dodger Blue */
}

.button-round:hover{
    cursor: pointer;
    display: inline-block;
    border-radius: 12px;
    padding: 0.6rem;
    color: white;
    background-color: #5798FF; /* Dodger Blue */
    text-decoration: none;
    transition-property: background-color;
    border: white;
}





/*********************** Abby Course template ***********************************/

article {
  display: grid;
  grid-template-columns: 1;
  grid-auto-rows: minmax(100px, auto);

}

.text{
  padding: 0.5rem;
  height: 420px;
}

.image{
  padding-top: -10rem;
  height: 420px;
}

@media screen and (min-width: 1025px) {
  article {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
  .text:nth-of-type(3) {
      grid-column: 2;
      grid-row: 2;
  }
}

/************************ Abby Register Template******************/
.label{
  padding-top:0.5rem;
  padding bottom:0.5rem;
}


/*citations*/
/* Scott S (2017),https://codepen.io/sassquad/pen/ooLEOa */
/*W3schools(n.d), https://www.w3schools.com/howto/howto_css_round_buttons.asp*/
